@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

:root {

/*Colors*/
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: "Oufit", sans-serif;
    background-color: var(--Pale-blue);
}